
.icon {
    transition: 2s;
    font-size: 50px;
    margin: 1px;
}

#sim{
    margin: 20px;
}


/*
.text-center{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, "Helvetica Neue", Helvetica, sans-serif;
}
*/
/*
.text-center{
    font-weight: bold;
}*/