
.icon {
    transition: 2s;
    font-size: 50px;
    margin: 1px;
}

#sim{
    margin: 20px;
}


a.bulle { 
    position:relative;
    color:#2e2e2e;
    text-decoration:none;
    /*text-align:center;*/
    }
    
    a.bulle:hover {
    background: none;
    z-index: 50;
    }
    
    a.bulle span {
    display: none;
    }
    
    a.bulle:hover span {
    display: block;
    position: absolute;
    top: -40px; 
    left: 0px; 
    font-family:arial, verdana, sans-serif;
    text-align:left;
    font-size:17px;
    color:black;
    font-weight:normal;
    width:200px;
    background: whitesmoke;
    
    padding: 5px;
    border: #000000 solid 1px ;
    text-indent: 0;
    }
/*
.text-center{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, "Helvetica Neue", Helvetica, sans-serif;
}
*/
/*
.text-center{
    font-weight: bold;
}*/